@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@keyframes titleEffect {
  from {
    letter-spacing: -1em;
  }
  to {
    letter-spacing: 0em;
  }
}

hr {
  border: 0px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.button {
  border: none
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 20px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2em;
}

 .button1 {
   font-family: Righteous;
   width: 480px;
   height: 100px;
   background: linear-gradient(#99c3ff, #8b9efc);
   color: black;
}

.title {
  text-align: center;
  font-size: 5vw;
}

.button:hover {
  transform: scale(1.1);
  letter-spacing: .2em;
  background: linear-gradient(#ffffff, #ccccb8);
  color: black
}

body {
  font-family: Righteous;
  background: linear-gradient(#78b0ff, #657efc);
  color: white;
  text-shadow: 0px 1px 4px #00000080;
}
